// paths
$fonts: '../fonts';
$images: '../images';

$font-size: 14px;
// $font-regular: "Open Sans", Arial, sans-serif;
$font-regular: 'Open Sans';

// colors
$theme-base: #35a761;
$dark-grey: #3a404d;
$light-grey: #d9d9d9;
$color-error: #E20909;
